<div class="top-footer">
    <div class='container'>
        <div class="row">
            <div class="col-md-6 col-sm-10 mx-auto">
                <h4 class="text-center">
                    Đăng ký nhận tin
                </h4>
                <div class="form_register ">
                    <div class="custom-input-group mb-3 form_newsletter form_newsletter_customer">
                        <form accept-charset='UTF-8' action='contact' class='contact-form'>
                            <div class="input-group">
                                <input class="form-control input-group-field " aria-label="Địa chỉ Email" type="email"
                                    placeholder="Nhập địa chỉ email" id="newsletter-email" name="email"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autocomplete="off">
                                <div class="input-group-btn btn-action">
                                    <button class="h-100 btn text-white button_subscribe subscribe" type="submit"
                                        aria-label="Đăng ký nhận tin" name="subscribe">Đăng ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mid-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 footer-click">
                <h4>Về chúng tôi</h4>

                <p><img alt="" src="http://miquafood.com/images/miquafood.png" /></p>

                <p>Miquafood chuyên cung cấp các loại đặc sản.</p>

                <p><i class="fa-solid fa-phone"></i>&nbsp;Hotline: 0937.207.797 &amp;
                    0938.201.797<br />
                    <i class="fa-solid fa-location-dot"></i>&nbsp;Hệ thống cửa hàng<br />
                    CN1: 12 Rạch Bùng Binh, P.10, Q.3<br />
                    CN2: 193 Cống Lỡ, P. 15, Q.Tân Bình<br />
                    <i class="fa-solid fa-envelope"></i>&nbsp;miquafood@gmail.com
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 footer-click">
                <h4 class="title-menu clicked">
                    Tìm hiểu thêm <i class="fa fa-angle-down d-md-none one d-inline-block"></i>
                </h4>
                <ul class="list-menu one toggle-mn">
                    <li class="li_menu">
                        <a class="link" href="trang-chu">Trang chủ</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" href="dang-cap-nhat-1524114422">Sản
                            Phẩm</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" href="khuyen-mai-hot">Khuyến mãi hot</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" href="tin-tuc">Tin tức</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" href="Dang-cap-nhat-1630551520">Các điểm bán hàng</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" href="gioi-thieu">Giới thiệu</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" href="lien-he">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 footer-click">
                <h4 class="title-menu clicked">
                    Hỗ trợ khách hàng <i class="fa fa-angle-down d-md-none true d-inline-block"></i>
                </h4>
                <ul class="list-menu true toggle-mn">
                    <li class="li_menu">
                        <a class="link" title="Chính Sách" alt="Chính Sách" href="chinh-sach">Chính Sách</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" title="Đang cập nhật" alt="Đang cập nhật"
                            href="Dang-cap-nhat-1630254877-1630254877">Đang
                            cập nhật</a>
                    </li>
                    <li class="li_menu">
                        <a class="link" title="Đang cập nhật" alt="Đang cập nhật" href="Dang-cap-nhat-1630254877">Đang
                            cập nhật</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 footer-click">
                <div class="social-footer">
                    <h4 class="title-menu">
                        Theo dõi chúng tôi
                    </h4>
                    <ul class="follow_option d-flex flex-wrap align-items-center p-0 list-unstyled">
                        <li>
                            <div class="fb-page fb_iframe_widget fb_iframe_widget_fluid"
                                data-href="https://www.facebook.com/miquafood" data-tabs="" data-width="" data-height=""
                                data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                                data-show-facepile="true" fb-xfbml-state="rendered"
                                fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=65&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fmiquafood&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width=">
                                <span style="vertical-align: bottom; width: 180px; height: 130px;"><iframe
                                        name="fd77ec850a608" width="1000px" height="1000px"
                                        data-testid="fb:page Facebook Social Plugin"
                                        title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true"
                                        allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                        src="https://www.facebook.com/v11.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a446edfc73f3c%26domain%3Dmiquafood.com%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Fmiquafood.com%252Ff348526b2942694%26relation%3Dparent.parent&amp;container_width=65&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fmiquafood&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=&amp;width="
                                        style="border: none; visibility: visible; width: 180px; height: 130px;"
                                        class=""></iframe></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contactIcon">
    <div class="phone">
        <a href="tel:0937.207.797 & 0938.201.797">
            <img src="./images/phone.png" alt="">
        </a>
    </div>
    <div class="zalo">
        <a href="https://zalo.me/0937207797">
            <img src="./images/zalo.png" alt="">
        </a>
    </div>
    <div class="mess" id="showMess">
        <img class="messImage" src="./images/mess1.png" alt="">
        <img class="delImage" src="./images/del.png" alt="">
    </div>
</div>