<div class="header-main">
    <nav id="myScrollspy" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#intro-big">
            <img src="./images/Balooworld-logo-icon.png" alt="Logo Balooworld">
        </a>

        <!-- ver - 1 -->
        <!-- <button class="navbar-toggler" type="button" data-trigger="#main_nav">&#9776;</button> -->
        <div class="navbar-collapse" id="main_nav">

            <div class="offcanvas-header mt-3">  
                <button class="btn btn-outline-danger btn-close float-right">&#10010;</button>
            </div>

            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item active"><a class="nav-link" href="#about">About</a> </li>
                <li class="nav-item"><a class="nav-link" href="#bedroom">bedroom</a></li>
                <li class="nav-item"><a class="nav-link" href="#decor">decor</a></li>
                <li class="nav-item"><a class="nav-link" href="#kitchen-dining">kitchen & dining</a></li>       -->       
                <!-- <li class="nav-item"><a class="nav-link" href="./email-notification-admin.php">Mẫu mail</a></li>              -->
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>             
            </ul>
        </div>
    </nav>
</div>